@import "_vars.scss";

@font-face {
    font-family: "Nimbus";
    src: url("../assets/fonts/nimbus-sans-l/NimbusSanL-Reg.otf");
    font-weight: normal;
    font-style: normal;
}

@mixin devices($breakpoint) {
    @if $breakpoint == tablet {
        @media only screen and (max-width: 680px) {
            @content;
        }
    }

    @if $breakpoint == mobile {
        @media only screen and (max-width: 481px) {
            @content;
        }
    }
}

$primary: black;
$secondary: white;
$accent: #eeff2f;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1 {
    font-size: 10rem;

    @include devices(tablet) {
        font-size: 7rem;
    }

    @include devices(mobile) {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 2rem;
}

body {
    background-color: $accent;
    font-family: "Nimbus";

    &.project-specific {
        background-color: $primary;
        color: $secondary;
    }
}

.section {
    height: 100vh;
    width: 100vw;

    &.project-overview {
        min-height: 100vh;
        height: auto;
    }
}

.underline {
    text-decoration: underline;
}

/* 
    ####################
    3d Model
*/
.model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2;
}

#typeModel {
    width: 100%;
    height: 100%;
}

.smaller-model {
    transition: all 1s ease-in-out;
    opacity: 0.5;
}

/* 
    ####################
    NAVIGATION
*/
.nav {
    height: 7vh;
    width: 100vw;
    z-index: 2;
    font-size: 1.5rem;

    top: 0;
    position: sticky;
    position: -webkit-sticky;

    &.project-specific {
        color: $accent;
    }

    @include devices(mobile) {
        font-size: 1rem;
        margin-bottom: 2vh;
        height: 10vh;
    }

    .nav-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 25% 25%;

        .nav-section {
            display: flex;
            align-items: center;
        }

        &__left {
        }

        &__center {
        }

        &__right {
            text-align: right;
            display: flex;
            justify-content: right;
        }
    }
}

.nav-inverted > * {
    color: $accent;
}

/* 
    ####################
    HOME
*/
.home {
    &__container {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 93%;

        &__heading {
            position: relative;
            display: flex;

            h1 {
                font-style: italic;
                text-transform: uppercase;
            }
        }

        &__toc {
            .toc-container {
                display: flex;
                justify-content: center;
                align-items: center;

                @include devices(mobile) {
                    flex-direction: column;
                    align-items: start;
                    width: 80vw;
                }

                &__el {
                    margin: 10px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 8px;
                    padding-bottom: 6px;
                    background-color: $primary;
                    color: $secondary;
                    border-radius: 20px;
                    cursor: pointer;

                    @include devices(mobile) {
                        margin: 0;
                        margin-bottom: 1vh;
                    }

                    &:hover {
                        background: none;
                        border: 1px solid $primary;
                        margin: 9px;
                        color: $primary;

                        transition: background 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

.projects {
    &__element {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: $primary;
        color: $secondary;
    }

    .project-content {
        display: grid;
        width: 100%;
        height: 100%;

        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;

        grid-template-areas:
            "number . media media"
            "title title media media"
            "description . media media"
            ". . media media";

        @include devices(mobile) {
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
        }
    }

    .title {
        grid-area: title;
        h2 {
            font-size: 8rem;

            @include devices(mobile) {
                font-size: 4rem;
            }
        }

        cursor: pointer;
    }

    .number {
        grid-area: number;
        display: flex;
        align-items: center;
    }

    .description {
        grid-area: description;
    }

    .media {
        grid-area: media;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        &__container {
            height: 50%;

            .media-elem {
                img {
                    width: 100%;
                }
            }

            .gsehundgseh {
                width: 200%;
                @include devices(mobile) {
                    width: 100%;
                }
            }
        }
    }

    .xtract {
    }

    .mirror {
    }

    .gsehundgseh {
    }

    .coffee {
    }

    .graphicdesign {
    }

    .sketches {
    }
}

.outro {
    height: 400vh;
}

.footer {
    height: 5vh;
    background-color: $primary;
    color: $accent;

    &.project-specific {
        background-color: $accent;
        color: $primary;
    }

    @include devices(mobile) {
        height: 20vh;
    }

    &__container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 50% 25% 25%;
        grid-template-areas: "title name links";

        > * {
            display: flex;
            align-items: center;
        }

        div {
            @include devices(mobile) {
                margin-bottom: 1vh;
            }
        }

        @include devices(mobile) {
            display: flex;
            justify-content: space-evenly;
        }
    }

    .footer-title {
        grid-area: title;

        @include devices(mobile) {
            margin-top: 2vh;
        }
    }

    .footer-name {
        grid-area: name;

        @include devices(mobile) {
            margin-bottom: 2vh;
        }
    }

    .footer-insta {
        grid-area: links;
    }
}

// ############################
// %%%%% PROJECT SPECIFIC %%%%%
// ############################
.project-overview {
    .project-description {
        height: auto;
        min-height: 50vh;

        display: grid;
        grid-template-columns: 50% 25% 25%;

        grid-template-areas: "desc text text";

        font-size: 1.5rem;

        div {
            border-top: 1px solid $secondary;
            padding-top: 2rem;
        }

        @include devices(mobile) {
            display: flex;
            flex-direction: column;
        }

        .desc {
            grid-area: desc;
        }

        .text {
            grid-area: text;
            min-height: 40vh;
        }
    }
}

.xtract-project {
    .project-demo {
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            width: 80vw;
            height: 80vh;
            border: 1px solid $accent;
            padding: 2rem;
        }

        margin-bottom: 20vh;
    }

    .project-description {
        grid-template-areas:
            "desc text text"
            "model-title model model";

        .model-title {
            grid-area: model-title;
        }

        .model {
            grid-area: model;
            height: 40vh;

            .xtract-model {
                width: 100%;
                height: 100%;
            }
        }
    }
}
